.sidebar {
    width: 240px;
    min-height: 100vh;
}

.nav-link {
    color: #555;
    transition: 0.2s;
    font-size: 15px;
}

.nav-link:hover,
.nav-link.active {
    background: #eef3ff;
    border-radius: 6px;
    color: #0d6efd;
}

body {
    background: #f8f9fa;
}

.accordion-button {
    font-weight: 500;
}

.accordion-button:not(.collapsed) {
    background-color: #0d6efd;
    color: #fff;
}
